<a href="https://colab.research.google.com/github/A01252830/Laboratorio_A01252830/blob/main/ActivityObtainingDescriptiveStatistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%cd /content/drive/MyDrive/TC1002S/datasets/

/content/drive/MyDrive/TC1002S/datasets

In [1]:
import pandas as pd
import numpy as np

In [9]:
iris = pd.read_csv('iris.csv')

In [11]:
iris.shape

(150, 5)

(rows, columns)

In [10]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float64
 1   Sepal.Width   150 non-null    float64
 2   Petal.Length  150 non-null    float64
 3   Petal.Width   150 non-null    float64
 4   Species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

Sepal y Petal son float, y Species es un object

In [13]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

El maximo mas grande es in Sepal.length con 7.9, el minimo mas peque침o es Petal.width con 0.1

Media:

In [18]:
iris.groupby(["Species"]).mean()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa             5.006        3.428         1.462        0.246
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

Mediana:

In [20]:
iris.groupby(["Species"]).median()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa               5.0          3.4          1.50          0.2
versicolor           5.9          2.8          4.35          1.3
virginica            6.5          3.0          5.55          2.0

Con el media y median, podemos ver que el mas grande es el virginica y el mas peque침o es setosa

Desviaci칩n est치ndar:

In [21]:
iris.groupby(["Species"]).std()

            Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Species
setosa          0.352490     0.379064      0.173664     0.105386
versicolor      0.516171     0.313798      0.469911     0.197753
virginica       0.635880     0.322497      0.551895     0.274650

Esto me dice la estadistica mas grande es virginica, tambien podemos ver que Sepal.Length tiene los datos mas grandes